* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --color-bg: #7293a0;
  --color-primary: #21d19f;
  --color-secondary: #45b69c;
  --color-secondary-dark: #337b6a;
  --team-color-red: #a15d5d;
  --team-color-blue: #495496;
  --team-color-green: #5eb069;
  --team-color-yellow: #7a7d2c;

  color: #d8ddef;
  font-family: "Roboto", sans-serif;
  text-align: center;
  overflow-x: hidden;
}

body {
  background-color: var(--color-bg);
  height: 100vh;
}

section {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1em;
  padding: 2em;
  overflow-y: auto;
  overflow-x: hidden;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

p,
button {
  font-size: 1.5em;
}

button {
  border: 2px solid var(--color-primary);
  background-color: transparent;
  border-radius: 64px;
  padding: 10px;
  transition: 0.2s;
  color: white;
}

button:active:not(:disabled) {
  border-color: white;
}

button.primary {
  background-color: var(--color-secondary);
}

button:disabled {
  opacity: 0.2;
}

#lobby {
  display: flex;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  text-align: left;
}

table td,
table th {
  padding: 8px;
}

table tr {
  position: relative;
  background-color: #479180;
}

table tr:nth-child(odd) {
  background-color: var(--color-secondary-dark);
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--color-secondary);
  color: white;
}

table .highlight {
  border: 1px solid white;
}

table .highlight ~ .highlight {
  border-top: none;
}

table .highlight.show-table-value {
  /* outline: 1px solid yellow;
  border: 1px solid yellow; */
}

.col_rank {
  width: 45px;
  text-align: center;
}

.col_points {
  display: none;
}

.gamemode {
  order: -1;
  opacity: 0.3;
}

.gamemode::before {
  content: "Gamemode: ";
}

#pairing .gamemode {
  opacity: 1;
}

button.hide-pair-button {
  display: none;
}
