button {
  width: 80vw;
  border-radius: 4px;
}

#lobby button {
  width: 300px;
}

.players_ready {
  order: 30;
  opacity: 0.5;
  margin-top: 1em;
  font-size: 1.1em;
}

.players_reroll {
  order: 31;
  font-size: 1.1em;
  opacity: 0;
}

td.col_answer {
  opacity: 0;
}

tr.show-table-value td.col_answer {
  opacity: 1;
}

tr.show-table-value.red-pick {
  background-color: var(--team-color-red);
}

tr.show-table-value.blue-pick {
  background-color: var(--team-color-blue);
}

tr.show-table-value.green-pick {
  background-color: var(--team-color-green);
}

tr.show-table-value.yellow-pick {
  background-color: var(--team-color-yellow);
}

#pairing.show-end * {
  opacity: 1 !important;
}

#pairing.show-end .col_points {
  display: table-cell;
  width: 5em;
}

.on_end {
  opacity: 0;
}

#scoreboard {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 100px;
  display: flex;
}

#scoreboard > div {
  padding: 0.5em;
  display: flex;
  min-width: 100px;
  flex-direction: column;
  justify-content: space-between;
}

#scoreboard .score {
  border-top: 1px solid white;
  padding-top: 0.5em;
  margin-top: 0.5em;
}

#scoreboard .players {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.team-player img {
  width: 2em;
  border-radius: 50%;
}

.team-player {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

#settings-table {
  max-width: 500px;
}

#settings-table td:first-child {
  width: 50%;
}

.round_indicator {
  position: absolute;
  top: 1em;
  left: 1em;
  font-size: 1em;
  opacity: 0.5;
}

/* Podium Styling */
.ranks-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: flex-end;
}

.ranks-wrapper > div:not(.rankpodium) {
  display: none;
}

.rankpodium {
  position: relative;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 4px solid white;
  padding-top: 0.5em;
  border-radius: 4px 4px 0 0;
}

.rankpodium .team_name {
  text-transform: capitalize;
  position: absolute;
  left: 50%;
  top: -1.5em;
  transform: translateX(-50%);
}

.rankpodium .team_points {
  opacity: 0.2;
  font-size: 1em;
}

.rankpodium-3 {
  order: 3;
}

.rankpodium-3::after {
  content: "3";
  font-size: 2.2em;
  opacity: 0.5;
}

.rankpodium-2 {
  order: 1;
  height: 150px;
}

.rankpodium-2::after {
  content: "2";
  font-size: 2.5em;
  opacity: 0.7;
}

.rankpodium-1 {
  order: 2;
  height: 200px;
}

.rankpodium-1::after {
  content: "1";
  font-size: 3em;
  opacity: 1;
}
